<p>
  <mat-toolbar class="example-toolbar" color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>My Favorite App</span>
    <span class="example-spacer"></span>
     <button routerLink="/" class="btn btn-primary">Home</button>&nbsp;
     <button routerLink="/home" class="btn btn-primary">About</button>&nbsp;
     <button routerLink="/contact" class="btn btn-primary">Contact</button>
  </mat-toolbar>
</p>
