<form class="p-5 text-center" #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm.value)" >
  <h3 class="text-center">Edit Employee Data</h3>
  <br>
  <div class="form-outline mb-4">
    <input type="firstName" id="form1Example1" class="form-control" placeholder="firstName" [ngModel]="editData.firstName" name="firstName" />
  </div>
  <div class="form-outline mb-4">
    <input type="lastName" id="form1Example2" class="form-control" placeholder="lastName" [ngModel]="editData.lastName" name="lastName"  />
  </div>
  <div class="form-outline mb-4">
    <input type="maidenName" id="form1Example2" class="form-control" placeholder="maidenName" [ngModel]="editData.maidenName" name="maidenName"  />
  </div>
  <div class="form-outline mb-4">
    <input type="age" id="form1Example2" class="form-control" placeholder="maidenName" [ngModel]="editData.age" name="age"  />
  </div>
  <div class="form-outline mb-4">
    <input type="gender" id="form1Example2" class="form-control" placeholder="maidenName" [ngModel]="editData.gender" name="gender"  />
  </div>

  <button type="submit" class="btn btn-primary btn-block">Submit Data</button>
</form>
